.post {
  color: var(--cor-fonte-post);
  position: relative;
}

.post__cover,
.post__title {
  height: 204px;
}

.post__cover {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  top: 0;
  z-index: -1;
}

.post__title {
  font-family: var(--fonte-secundaria);
  padding: 0 7.5rem;
  font-size: 4rem;
  display: flex;
  align-items: center;
}

.post__content {
  padding: 2.5rem 7.5rem 4.5rem;
}

@media (max-width: 744px) {
  .post {
      padding: 2rem 1.5rem 1.5rem;
  }
}

@media (max-width: 744px) {

  .post__cover,
  .post__title {
      height: 104px;
  }

  .post__title {
      padding: 0 1rem;
      font-size: 2rem;
  }

  .post {
      padding: 2rem 1rem 1.5rem;
  }

  .post__content {
    padding: 2.5rem 2rem 3rem;
  }
}